<h1>請求元一覧</h1>
<%= link_to new_requestor_path do %>
<%= paginate @requestors %>
<table>
  <tr>
    <th>請求元</th>
  </tr>
<% @requestors.each do |requestor| %>
  <tr>
    <td><%= link_to requestor.name, edit_requestor_path(requestor.id) %></td>
    <td>
      <%= link_to requestor_path(requestor.id), method: :delete, data: {confirm: "削除しますか"} do %>
        <i class="fa-solid fa-delete-left"></i>
      <% end %>
    </td>
  </tr>
<% end %>
</table>
